{% extends 'base.html' %}

{% block content %}

    <div class="fh5co-narrow-content">
        {% if post.photo %}
            <div class="row">
            <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft" style="margin-bottom: 20px;
                margin-right: 20px">
                <img class="img-responsive" src="{{ post.photo.url }}" alt="Photo does not exist">
            </div>
        {% endif %}
        <div class="row" data-animate-effect="fadeInLeft" style="margin-left: 15px ">
            <h2 class="fh5co-heading" style="margin-bottom: 10px">{{ post.title }}</h2>
            <p class="fh5co-heading" style="margin-bottom: 10px">
                <a href="{{ post.category_id.get_absolute_url }}">
                    {{ post.category_id }}
                </a>
            </p>
            <p>{{ post.content|safe }}</p>
            <small><i>Posted {{ post.created_at }}</i></small>
        </div>
        </div>
    </div>

{% endblock %}