{% load static %}

<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url({% static 'images/img_bg_1.jpg' %});">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <h1><strong>Welcome!</strong> There you can find a lot of information about
                                    me
                                    <p>
                                        <a href="{% url 'about' %}" class="btn btn-primary btn-learn">Learn More<i
                                                class="icon-arrow-right3"></i></a>
                                    </p>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url({% static 'images/img_bg_2.jpg' %});">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <h1>What I think about...
                                    <p>
                                        <a href="{% url 'all_posts' %}" class="btn btn-primary btn-learn">Find Out<i
                                                class="icon-arrow-right3"></i></a>
                                    </p>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url({% static 'images/img_bg_3.jpg' %});">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <h1>And what I usually do ...
                                    <p>
                                        <a href="{% url 'projects' %}" class="btn btn-primary btn-learn">Get to Know<i
                                                    class="icon-arrow-right3"></i></a>
                                    </p>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>