{% load menu %}
{% load static %}
{% load cache %}

{#Include CDN's library#}
<link rel="stylesheet" href="{% static 'css/drawer.min.css' %}">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/iscroll.min.js' %}"></script>
<script src="{% static 'js/drawer.min.js' %}"></script>
<script src="{% static 'js/active.js' %}"></script>
<aside id="fh5co-aside" role="complementary" class="border js-fullheight" style="overflow-y: auto">

    <h1 id="fh5co-logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/pidguen.png' %}" style="width: 28px" alt="Logo">
            Andrii X
        </a>
    </h1>
    {% block navbar %}
		{% cache 3600 navbar %}
		<nav id="fh5co-main-menu" role="navigation">

            <ul class="drawer-menu">
                <li>
                    <a class="drawer-menu-item" href="{% url 'home' %}">
                        Home
                    </a>
                </li>

                <li class="drawer-dropdown {% if '/category/' in request.path %}open{% endif %}">
                    <a class="drawer-menu-item" data-toggle="dropdown" role="button" aria-expanded="false">
                        Blog <span class="drawer-caret"></span>

                    </a>
                    <ul class="drawer-dropdown-menu">
                        <li style="background-color: #eceff1 "><a class="drawer-dropdown-menu-item"
                                                                  href="{% url 'all_posts' %}">All Posts</a></li>
                        {% get_category %}
                    </ul>
                </li>

                <li>
                    <a class="drawer-dropdown-menu-item" href="{% url 'projects' %}">
                        Projects
                    </a>
                </li>
                <li>
                    <a class="drawer-dropdown-menu-item" href="{% url 'contact' %}">
                        Get in touch
                    </a>
                </li>
                <li>
                    <a class="drawer-dropdown-menu-item" href="{% url 'about' %}">
                        About
                    </a>
                </li>

            </ul>

        </nav>
		{% endcache %}
	{% endblock %}

    <div class="fh5co-footer">
        <p>
            <small>
                <span>Designed by<a href="{% url 'about' %}" target="_blank"> Andrii X.</a></span>
            </small>
        </p>

        <span>
            Contact with me:
        </span>

        <ul>
            <li><a href="https://linkedin.com/in/andrii-khomitskyi"><i class="icon-linkedin2"></i></a></li>
            <li><a href="https://github.com/a-khomitskyi"><i class="icon-github"></i></a></li>
            <li><a href="https://t.me/HasNoMatter"><i class="icon-telegram"></i></a></li>
            <li><a href="https://twitter.com/hasn0matter"><i class="icon-twitter2"></i></a></li>
            <li><a href="mailto: homitskiy.andriy@gmail.com"><i class="icon-mail5"></i></a></li>
        </ul>
    </div>

</aside>